@import url("https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap");
@import url("home-layout.css");

/* Base Style */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 1em/1.6 "Roboto", helvetica, arial, sans-serif;
  text-align: center;
}

.main-header {
  background: #eff0f3;
}

h1 {
  margin: 40px 0;
  font-family: "Patrick Hand", cursive;
  text-transform: uppercase;
}

.main-nav {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.main-nav li {
  margin: 0 10px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

/* Home page colors */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0d0d0d;
}

.main-nav li:first-child {
  background: #ff8e3c;
}

.main-nav li:hover {
  border-bottom: 1px solid #000;
  background: #ff8e3c;
}

.main-nav li a {
  color: #0d0d0d;
}

a {
  text-decoration: none;
}

.content {
  background: #fffffe;
}

.content .card {
  display: inline-block;
  background: #eff0f3;
  color: #2a2a2a;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 20px;
}

.content .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.side-bar {
  background: #fffffe;
  color: #2a2a2a;
}

.main-footer {
  background: #eff0f3;
  color: #2a2a2a;
  padding: 10px;
  margin-top: 15px;
}
